asgiref==3.2.7
beautifulsoup4==4.9.0
bs4==0.0.1
certifi==2020.4.5.1
chardet==3.0.4
click==7.1.1
Django==3.1.9
Flask==1.1.2
idna==2.9
igtools3==0.6
itsdangerous==1.1.0
Jinja2==2.11.1
MarkupSafe==1.1.1
PyJWT==1.7.1
pytz==2019.3
requests==2.23.0
six==1.14.0
soupsieve==2.0
spark-parser==1.8.9
sqlparse==0.3.1
twilio==6.38.0
uncompyle6==3.6.5
urllib3==1.25.8
Werkzeug==1.0.1
xdis==4.2.4
